.movie-poster {
  width: 80px;
  height: 120px;
}

.movie-title {
  font-weight: bold;
  font-size: 1.1rem;
  white-space: normal;
}

.overview-text {
  line-height: 1.5;
  color: var(--ion-color-dark);
}

.empty-state {
  text-align: center;
  padding: 40px;
  margin-top: 50px;

  ion-icon {
    font-size: 64px;
    color: var(--ion-color-dark);
  }

  p {
    color: var(--ion-color-dark);
    font-size: 1.1rem;
  }
}
