<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    [(ngModel)]="searchQuery"
    (ionInput)="search()"
  ></ion-searchbar>

  <ion-card *ngFor="let movie of movies">
    <img *ngIf="movie.poster_path" [src]="imageBaseUrl + movie.poster_path" />

    <ion-card-header>
      <ion-card-title>{{ movie.title }}</ion-card-title>
      <ion-card-subtitle>Rating: {{ movie.vote_average }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> {{ movie.overview | slice:0:100 }}... </ion-card-content>

    <ion-footer>
      <ion-button fill="clear" (click)="addToFavorites(movie)">
        <ion-icon name="heart" slot="start"></ion-icon>
        Favorite
      </ion-button>
      <ion-button fill="clear">Details</ion-button>
    </ion-footer>
  </ion-card>
</ion-content>
